
dependencies/pawn-stdlib/
dependencies/samp-stdlib/
*.inc
dependencies/.resources/SA-MP-MySQL-74cb22/libmariadb.dll
dependencies/.resources/SA-MP-MySQL-74cb22/log-core.dll
dependencies/amx_assembly/
dependencies/indirection/
dependencies/md-sort/
dependencies/SA-MP-MySQL/
dependencies/YSI-Includes/
dependencies/bcrypt-samp/
mysql.ini
logs
server_log